.slide-animate{-webkit-transition:all cubic-bezier(0.25,.46,.45,.94) .4s;-moz-transition:all cubic-bezier(0.25,.46,.45,.94) .4s;-o-transition:all cubic-bezier(0.25,.46,.45,.94) .4s;transition:all cubic-bezier(0.25,.46,.45,.94) .4s}
/* This beautiful CSS-File has been crafted with LESS (lesscss.org) and compiled by simpLESS (wearekiss.com/simpless) */
