.slide-animate
{
	-webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) .35s;
	-moz-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) .35s;
	-o-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) .35s;
	transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) .35s;
 }