.slide-animate{-webkit-transition:all cubic-bezier(0.25,.46,.45,.94) .35s;-moz-transition:all cubic-bezier(0.25,.46,.45,.94) .35s;-o-transition:all cubic-bezier(0.25,.46,.45,.94) .35s;transition:all cubic-bezier(0.25,.46,.45,.94) .35s}
/* This beautiful CSS-File has been crafted with LESS (lesscss.org) and compiled by simpLESS (wearekiss.com/simpless) */
