/************************
		Variables
*************************/
@notoSerif:	'Noto Serif', serif;
@sourceSansPro: 'Source Sans Pro', sans-serif;
@openSans: 'Open Sans', sans-serif;
@roboto: 'Roboto', sans-serif;
@robotoCondensed: 'Roboto Condensed', sans-serif;
@robotoSlab: 'Roboto Slab', serif;

@normal: @roboto;
@condensed: @robotoCondensed;
@serif: @robotoSlab;
@heading: @openSans;

@screen-sm:	600px;
@screen-md: 992px;
@screen-lg: 1200px;

/************************
		Mixins
*************************/



.font-tagline {
	font-weight: 100;
	font-size: 3em;
}

.font-body {
    font-size: 1.3em;
    line-height: 1.8;
	@media screen and (max-width: @screen-sm)
	{
		font-size: 1.1em;
	}
}

.font-body-small {
    font-size: 1.2em;
    line-height: 1.6;
	@media screen and (max-width: @screen-sm)
	{
		font-size: 1em;
	}
}

.promo-icon
{
	font-size: 1.8em;
}


.SectionHeader {
	font-family: @condensed;
    font-weight: 300; 
    font-size: 4.4em;
}

.SectionHeaderSmall {
	font-family: @condensed;
    font-weight: 300; 
    font-size: 4.0em;
}

.SectionSubHeader {
	font-family: @normal;
    font-weight: 300; 
    font-size: 2.8em;
}

.SectionSubHeaderSmall {
	font-family: @normal;
    font-weight: 300; 
    font-size: 2.4em;
}

.PostDate {
	font-family: @condensed;
	font-weight: 300;
	font-size: 2.0em;
}

.PostDateSmall {
	font-family: @condensed;
	font-weight: 300;
	font-size: 1.8em;
}

.PostTitle {
	font-family: @condensed;
	font-weight: 300;
	font-size: 4em;
	line-height: 1.8;
}

.PostTitleSmall {
	font-family: @condensed;
	font-weight: 300;
	font-size: 3.4em;
	line-height: 1.6;
}


.FooterText {
	font-family: @condensed;
	font-weight: 100;
	font-size: 1.6em;
}
