@import "colors";
@import "fonts";
@import "reset";
@import "init";


/***********************
		Variables
************************/
/*Header*/
@defaultHeaderHeight:		 110px;
@defaultNavHeight:			 50px;
@defaultHeaderPadding:		 @defaultHeaderHeight/2 - @defaultNavHeight/2;
@defaultHeaderSidePadding:	 5.0%;

/*Footer*/
@defaultFooterHeight:		 70px;

/*Section*/
@defaultSectionPadding:		 60px;
//@defaultSidePadding:		 5.0%;
@defaultSidePadding:		 0px;
@defaultSectionHeaderMargin: 35px;
@mediumSidePadding:			 2.5%;
@smallSidePadding:			 1.5%;
@sectionShellWidth:			 100%;
@defaultSectionWidth:		 55%;


/***********************
		Mixins
************************/

.Clickable 
{
	&:hover 
	{
		text-decoration:none;
		cursor: pointer;
		color: @primaryAccent;
	}
	&:visited 
	{
		text-decoration:none;
	}
	&:active 
	{
		text-decoration:none;
	}
	&:link 
	{
		text-decoration:none;
	}
}

.Button
{
	padding: 8px;
	background-color: @divider;
	color: @primaryDark;
	border-style: solid;
	border-radius: 3px;
}

.Image(@imageURL, @radius, @size) 
{
	background-image: url(@imageURL);
    -webkit-border-radius:@radius;
       -moz-border-radius:@radius;
            border-radius:@radius;
    background-position: center;
    background-size: @size @size;
    width: @size;
    height: @size;
}

/***********************
		Body
************************/

body 
{
	background-color: @primaryBackgroundDark;
}



/***********************
		Header & Footer
************************/

.fixed-header-shell 
{
	width: 100%;
	position: fixed;
	top: 0px;
	z-index: 10;
}

.fixed-header-block 
{
	background-color: @primaryBackgroundDark;
	height: @defaultHeaderHeight;
	clear: both;
	padding-left: @defaultHeaderSidePadding;
	padding-right: @defaultHeaderSidePadding;
}

.fixed-header-logo 
{
	.HeadingLogo;
	.Clickable;
	color: @white;
	height: @defaultHeaderHeight;
	line-height: @defaultHeaderHeight;
	text-align: left;
}

.fixed-header-nav 
{
	height: @defaultHeaderHeight;
	text-align: right;
}

.fixed-header-nav-link 
{
	.Clickable;
	.HeadingLink;
	line-height: @defaultHeaderHeight;
	color: @white;
	margin-left: 18px;
}

.footer-block 
{
	background-color: @primaryBackgroundDark;
	text-align: center;
	padding-top: @defaultSectionPadding;
	padding-bottom: @defaultSectionPadding;
	height: @defaultFooterHeight;

	p
	{
		.FooterText;
		color: @secondaryTextWhite;
		margin: auto;
		line-height: @defaultFooterHeight / 2;
		width: 24em;

	}

	a
	{
		.Clickable;
		text-align: center;
		
		//width: 2em;
	}

	.fa
	{
		.Clickable;
		color: @secondaryTextWhite;
		width: 5em;
		line-height: @defaultFooterHeight / 2;
	}
}


/***********************
		Sections
************************/

.sections-shell
{
	width: @sectionShellWidth;
	margin-top: @defaultHeaderHeight;
	margin-left:	auto;
	margin-right:	auto;
	min-height: 900px;
	background-color: @primaryBackground;
}

.section-block
{
	padding-top: 	@defaultSectionPadding;
	//padding-right:	@defaultSidePadding;
	//padding-left: 	@defaultSidePadding;
	padding-bottom:	@defaultSectionPadding;
	border-style: solid;
	border-bottom-width: 1.5px;
	border-bottom-color: @divider;
	width: @defaultSectionWidth;
	margin-right: auto;
	margin-left: auto;
}

.section-block-text
{
	.BodyText;
	color: @text;
	clear: both;
	padding: 0px;
	margin-top: @defaultSectionHeaderMargin;
}

.section-header
{
	.SectionHeader;
	color: @text;
	margin: auto;
	width: auto;
	text-align: left;
}

.section-sub-header
{
	.SectionSubHeader;
	margin-top: @defaultSectionHeaderMargin / 2;
	color: @text;
}


/***********************
		Columns
************************/

.col
{
	display: block;
	float:left;
	margin: 0 0 0 1.6%;

}

.col:first-child
{
	margin-left: 0;
}

.span_2_of_2
{
	width: 100%; 
}
.span_1_of_2
{
	width: 49.2%;
}

.span_3_of_3
{ 
	width: 100%; 
}

.span_2_of_3
{
	width: 66.13%;
}

.span_1_of_3 
{
	width: 32.26%;
}

.span_4_of_4 
{
	width: 100%;
}

.span_3_of_4 
{
	width: 74.6%;
}

.span_2_of_4 
{
	width: 49.2%;
}

.span_1_of_4
{
	width: 23.8%;
}


/***********************
		Grouping
************************/

.group:before,
.group:after 
{
	content:"";
	display:table;
}

.group:after 
{
	clear:both;
}

.group
{
	zoom:1; /* For IE 6/7 */ 
}


/***********************
		Intro
************************/

#intro 
{
	background-color: @primaryBackgroundDark;
	text-align: center;
	.section-block 
	{
		border: 0px;
		width: 100%;
	}
	
}

#intro-avatar 
{
	.Image("../../content/images/profile2.png", 9999px, 200px);
	margin: auto;
}

#intro-tagline 
{
	.HeadingTagline;
	color: @white;
	margin-top: 75px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}


/***********************
		Posts
************************/

#details
{
	border-style: none;
}

.post-link
{
	.Clickable;
}

.post-date
{
	text-align: left;
	color: @secondaryText;
	.PostDate
}

.post-title
{
	.PostTitle;
	.Clickable;
	margin-top: 5px;
	text-align: left;
	color: @text;
}

.post-full-title
{
	.PostTitle;
	margin-top: 5px;
	text-align: left;
	color: @text;
}

.post-text
{
	.BodyText;
	margin-top: 5px;
	text-align: left;
	color: @text;
}

.post-full-text
{
	.BodyText;
	margin-top: 5px;
	padding-bottom: 50px;
	text-align: left;
	color: @text;
	border-style: solid;
	border-bottom-width: 1.5px;
	border-bottom-color: @divider;
}

.post-navigation
{
	.Clickable;
	.Button;
	.BodyText;
	display: inline-block;
	margin-top: 50px;
}


/***********************
		Projects
************************/

.project-section
{
	text-align: left;
}

.project-title
{
	.PostTitle;
	margin-top: 5px;
	text-align: left;
	color: @text;
}

.project-text
{
	.BodyText;
	margin-top: 15px;
	text-align: left;
	color: @text;
}

.project-image
{
	width: 100%;
	//height: 450px;
	border-color: @primaryLight;
	border-width: 2px;
	border-style: solid;
	object-fit: contain;
	object-position: center;
}

.project-link
{
	.Clickable;
}

/***********************
		Contact
************************/

#contact
{
	.fa
	{
		color:@primaryAccent;
		margin-right: 10px;
		width: 24px;
	}
}


/***********************
		Links
************************/

#links
{
	background-color: @primaryBackgroundOff;

	h3
	{
		color:@primaryDark;
	}

	a
	{
		.Clickable;
		color: @primaryDark;
		text-align: center;
	}

	#facebook
	{
		.Image("../../content/images/facebook.png", 9999px, 75px);
		margin: auto;
	}

	#linkedin
	{
		.Image("../../content/images/linkedin.png", 9999px, 75px);
		margin: auto;
	}

	#google
	{
		.Image("../../content/images/google.png", 9999px, 75px);
		margin: auto;
	}

	#github
	{
		.Image("../../content/images/github.png", 9999px, 75px);
		margin: auto;
	}
}

.resume-link
{
	margin-top: 1.5em;
	.Clickable;
	.Button;
	.BodyText;
	display: inline-block;
}



/***********************
		Media Queries
************************/

@media screen and (max-width: 1024px)
{
	.fixed-header-block
	{
		padding-right: @mediumSidePadding;
		padding-left: @mediumSidePadding;
	}

	.section-block
	{
		//padding-right: @mediumSidePadding;
		//padding-left: @mediumSidePadding;
		width: 70%;
	}
}

@media screen and (max-width: 768px)
{
	.fixed-header-shell 
	{
		position: relative;
	}

	.fixed-header-nav
	{
		text-align: center;
		height: @defaultHeaderHeight / 3;
	}

	.fixed-header-nav-link
	{
		line-height: @defaultHeaderHeight / 3;
	}

	.fixed-header-logo
	{
		text-align: center;
		line-height: @defaultHeaderHeight * 2 / 3;
		height: @defaultHeaderHeight * 2 / 3;
	}


	.fixed-header-block
	{
		padding-right: @smallSidePadding;
		padding-left: @smallSidePadding;
	}

	.sections-shell
	{
		margin-top: 0;
	}

	.section-block
	{
		//padding-right: @smallSidePadding;
		//padding-left: @smallSidePadding;
		width: 90%;
	}

	.col
	{ 
		margin: 0 0 0 0%;
	}

	.span_2_of_2, 
	.span_1_of_2, 
	{
		width: 100%;
	}

	.span_3_of_3, 
	.span_2_of_3, 
	.span_1_of_3 
	{ 
		width: 100%;
	}

	.span_4_of_4,
	.span_3_of_4,
	.span_2_of_4,
	.span_1_of_4
	{
		width: 100%;
	}

	#intro-tagline 
	{
		font-size: 3.4em;
	}
}

@media screen and (max-width: 480px)
{
	#intro-tagline
	{
		font-size: 3em;
	}
}

