/*Stacked*/
a:link {
	text-decoration:none;
	color:#808285;
}
a:visited {text-decoration:none;color:#808285;}
a:hover {text-decoration:none;color:#808285;}
a:active {text-decoration:none;color:#808285;}

a.hidden_link {
	margin: 6px 15px 5px 15px;
	color:#03a9f4;
	font-size: 22px;
	font-weight: 300;
	font-family: 'Roboto Condensed', sans-serif;
}

/*Classes*/
.header_box {
	margin: 15px 0px 50px 0px;
	text-align: center;
}
.hidden {
	display: none;
	background-color: #EAEAEA;
	border-radius: 5px;
	padding: 20px 0px 0px 0px;
	height: 50px;
}
.hidden_info {
	color: #808285;
    font-family: 'Roboto Slab', serif;
    font-style: normal;
    font-weight: 100; 
    font-size: 15px;
    line-height: normal;
    /*background-color: white;*/
	margin: -25px 0px 35px 0px;
	padding: 10px 10px 10px 10px;
	text-align: left;
	display: none;
}
.info_box {
	background-color: #EAEAEA;
    font-family: 'Roboto Slab', serif;
    font-weight: 300; 
    font-size: 20px;
	margin: 15px 0px 60px 0px;
	padding: 25px 35px 25px 35px;
	text-align: left;
	border-radius: 5px;
	line-height: normal;
}
.info_toggle {
	cursor: pointer;
	font-family: 'Roboto Condensed', sans-serif; 
}
.main_box {
	color: #424242;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	width: 600px;
	text-align: left;
}
.nav {
	text-align: center;
	margin: 0px 0px 0px 0px;
	padding-bottom: 10px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #EAEAEA;
}
.nav_link {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300; 
    font-size: 125%;
    color:#808285;
    cursor: pointer;
    -webkit-user-select: none; /* webkit (safari, chrome) browsers */
    -moz-user-select: none; /* mozilla browsers */
    -khtml-user-select: none; /* webkit (konqueror) browsers */
    -ms-user-select: none; /* IE10+ */
}
.sample_image {
	width: 570px;
	margin: 10px 0px 25px 0px;
}
.image_box.info_box {
	text-align: center;
	padding: 15px 15px 15px 15px;
}

/*IDs*/
#main_heading {
	font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold; 
    font-size: 400%;
    margin: 0px 0px 5px 0px;
}
#download_link.info_box {
	font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300; 
    font-size: 300%;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    margin-top: 250px;
    background-color: #EAEAEA;
    border-radius: 5px;
    padding: 25px 15px 25px 15px;
    width: 600px;
}
#back_button.info_box {
	font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300; 
    font-size: 150%;
	color: #424242;
}

/*Elements*/

h2 {
	font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold; 
    font-size: 200%;
}
p {
    font-family: 'Roboto Slab', serif;
    font-weight: 300; 
    font-size: 20px;
}
