<!--<section id="work">
	<object data="content/Jordan_Hurt_Resume.pdf" type="application/pdf" width="100%" height="100%">
		<p class="info_box" id="download_link">
			Sorry, your browser doesn't support PDF viewing.  You can download in <a href="content/Jordan_Hurt_Resume.pdf">PDF</a> or <a href="content/Jordan_Hurt_Resume.docx">Word</a> format.
		</p>
	</object>
</section>
<section class="section" id="posts">
	<div class="section-block" id="posts-block">
		<div ng-repeat="section in vm.posts"id="{{section.id}}" class="section-block-text">
			<a ng-href="#/details/{{section.id}}">
				<h3 class="post-date">{{section.published}}</h3>
				<h3 class="post-title">{{section.title}}</h3>
				<p class="post-content">{{section.content}}<p/>
			</a>
		</div>
	</div>
</section>-->

<section class="section" data-ng-repeat="section in vm.posts" id="{{section.id}}">
	<div class="section-block">
		<a class="post-link" ng-href="#/details/{{section.id}}">
			<h3 class="post-date">{{section.published}}</h3>
			<h3 class="post-title">{{section.title}}</h3>
			<p class="post-text">{{section.content}}</p>
		</a>
	</div>
</section>
