<div class="container">
	<div class="row">
		<div class="col l6 s12">
			<h5 class="blue-grey-text text-lighten-4 light">Get in touch</h5>
			<p class="blue-grey-text text-lighten-4 light">Talk to me about a future project, ask about my work, or just chat.  Here, you'll find links to my preferred methods of communication and my social feeds.</p>
		</div>
		<div class="col l3 s6">
			<h5 class="blue-grey-text text-lighten-4 light">Contact</h5>
			<ul>
				<li><a class="blue-grey-text text-lighten-4 light" href="tel:2566942177">Phone</a></li>
				<li><a class="blue-grey-text text-lighten-4 light" href="mailto:jth0024@gmail.com">Gmail</a></li>
				<li><a class="blue-grey-text text-lighten-4 light" href="skype:jordan.hurt.intergraph?call">Skype</a></li>
			</ul>
		</div>
		<div class="col l3 s6">
			<h5 class="blue-grey-text text-lighten-4 light">Connect</h5>
			<ul>
				<li><a class="blue-grey-text text-lighten-4 light" href="http://www.google.com/+JordanHurt">Google +</a></li>
				<li><a class="blue-grey-text text-lighten-4 light" href="http://instagram.com/j_danger_hurt/">Instagram</a></li>
				<li><a class="blue-grey-text text-lighten-4 light" href="http://jordan-hurt.blogspot.com/feeds/posts/default?alt=rss">RSS Feed</a></li>
			</ul>
		</div>
	</div>
</div>
<div class="footer-copyright">
	<div class="container">
		Site by <a class="teal-text light text-accent-3" href="http://www.jordanhurt.com">Jordan Hurt</a>
	</div>
</div>
