<div class="fixed-header-block group" data-ng-controller="Topnav as vm">
		<a class="fixed-header-logo col span_1_of_2" href="#/"><h1>{{vm.title}}</h1></a>
		<nav class="fixed-header-nav col span_1_of_2">
			<a class="fixed-header-nav-link" href="#/?scrollTo=about">About</a>
			<a class="fixed-header-nav-link" href="#/?scrollTo=projects">Projects</a>
			<a class="fixed-header-nav-link" href="#/?scrollTo=links">Links</a>
			<a class="fixed-header-nav-link" href="#/?scrollTo=contact">Contact</a>
		</nav>
</div>