<nav class="slide-animate blue-grey darken-3 no-shadow" role="navigation">
	<div class="blue-grey darken-3 nav-wrapper slide-animate">
		<a id="logo-container" ui-sref="home" class="brand-logo">Jordan Hurt</a>
		<ul class="nav-links right hide-on-med-and-down">
			<li ui-sref-active="active-link" ><a ui-sref="home">Home</a></li>
			<li ui-sref-active="active-link" ><a ui-sref="portfolio">Portfolio</a></li>
			<li ui-sref-active="active-link" ><a ui-sref="blog">Blog</a></li>
		</ul>

		<ul id="nav-mobile" class="side-nav">
			<li ui-sref-active="active" ><a ui-sref="home">Home</a></li>
			<li ui-sref-active="active" ><a ui-sref="portfolio">Portfolio</a></li>
			<li ui-sref-active="active" ><a ui-sref="blog">Blog</a></li>
		</ul>
		<a href="#" class="button-collapse ng-isolate-scope" data-activates="nav-mobile" data-sidenav="left" data-menuwidth="275" data-closeonclick="true"><i class="slide-animate mdi-navigation-menu"></i></a>      
	</div>
</nav>
