<div id="intro-splash" class="section blue-grey darken-3" id="index-banner">
	<div class="container">
		<div class="row">
			<div class="col s12 center-align">
				<img class="responsive-img circle img-main centered-item" src="support/images/me.png"/>
			</div>
		</div>

		<div class="row center">
			<div class="col s12">
				<h3 class="font-tagline center-align white-text">The internet is our future</h3>
				<h5 class="font-tagline-small center-align blue-grey-text text-lighten-3">Let's build it together</h5>
			</div>
			<div class="center">
				<a id="lead-button" data-j-scroller target="about" class="btn-floating btn-large teal accent-3">
					<i class="mdi-navigation-expand-more"></i>
				</a>
			</div>
		</div>
	</div>
</div>


<div id="about" class="section">
	<div class="container">
		<div class="row">
			<div class="col s12">
				<h3 class="header light">About</h3>
				<p class="light font-body flow-text">My name is Jordan Hurt, and I'm an experienced web developer with an eye for visual design.  I graduated from Auburn University in 2015 with a Bachelor of Science in Mechanical Engineering and a Minor in Computer Science. I held various intern and co-op positions between school semesters, so I have practical experience in both engineering and software practices. Currently, I'm employed as a UX Analyst by Intergraph in Huntsville, Alabama. In my spare time, however, I provide free-lance design and development services to a variety of clients.</p>
				<a href="content/Jordan_Hurt_Resume.docx" class="waves-effect waves-light blue-grey lighten-2 btn no-shadow white-text">Résumé</a>
			</div>
		</div>
	</div>
</div>

	<!-- Services Section -->
<div class="section services-header">
	<div class="overlay"></div>
	<div class="elevate">
		<div class="row" data-ng-show="vm.formIsOpen">
			<div class="col s12 left-align close-button">
				<a data-ng-click="vm.cancelForm()"><i class="mdi-navigation-cancel small white-text"></i></a>
			</div>
		</div>
		<div class="container">
			<form data-ng-show="vm.formIsOpen" class="col s12 quote-form">
				<div class="row">
					<div class="input-field col s6">
						<input id="first_name" type="text" class="white-text validate">
						<label for="first_name" class="white-text">First Name</label>
					</div>
					<div class="input-field col s6">
						<input id="last_name" type="text" class="validate">
						<label for="last_name">Last Name</label>
					</div>
				</div>
				<div class="row">
					<div class="input-field col s6">
						<input id="first_name" type="text" class="validate">
						<label for="first_name">Email</label>
					</div>
					<div class="input-field col s6">
						<input id="last_name" type="text" class="validate">
						<label for="last_name">Telephone</label>
					</div>
				</div>
				<div class="row">
					<div class="input-field col s12">
						<textarea id="textarea1" class="materialize-textarea"></textarea>
						<label for="textarea1">Project Description</label>
					</div>
				</div>
				<div class="row">
					<div class="col s12 right-align">
						<a class="btn small no-shadow teal accent-3">Submit</a>
					</div>
				</div>
			</form>
			<div data-ng-show="!vm.formIsOpen">
				<div class="row">
					<div class="col s12 center">
						<h1 class="hide-on-small-only header light white-text">My Services</h1>
						<h2 class="hide-on-med-and-up header light white-text">My Services</h2>
						<h5 class="header light white-text">at an <i>affordable</i> rate</h5>
					</div>
				</div>
				<div class="row">
					<div class="col s12 center">
						<a data-ng-click="vm.openForm()" class="btn waves-effect waves-light teal accent-3">Get Quote</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Quote Form 
<div class="section-small" data-ng-show="vm.formIsOpen">
	<div class="row">
		<div class="col s12 left-align">
			<a data-ng-click="vm.cancelForm()"><i class="mdi-navigation-cancel small blue-grey-text text-darken-3"></i></a>
		</div>
	</div>
	<div class="container">
		<form class="col s12">
			<div class="row">
				<div class="input-field col s6">
					<input id="first_name" type="text" class="validate">
					<label for="first_name">First Name</label>
				</div>
				<div class="input-field col s6">
					<input id="last_name" type="text" class="validate">
					<label for="last_name">Last Name</label>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s6">
					<input id="first_name" type="text" class="validate">
					<label for="first_name">Email</label>
				</div>
				<div class="input-field col s6">
					<input id="last_name" type="text" class="validate">
					<label for="last_name">Telephone</label>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s12">
					<textarea id="textarea1" class="materialize-textarea"></textarea>
					<label for="textarea1">Project Description</label>
				</div>
			</div>
			<div class="row">
				<div class="col s12 right-align">
					<a class="btn small no-shadow teal accent-3">Submit</a>
				</div>
			</div>
		</form>
	</div>
</div>
-->

<div class="row no-margin-bottom services-content">
	<div class="col s12 m6 blue-grey lighten-2">
		<div class="section center">
			<h3 class="header center light white-text">Design</h3>
			<p class="light font-body white-text">We will discuss project requirements and design goals, and I'll create functional prototypes using cutting-edge tools. I care about my designs, so I will tweak the details until everything is just right. The process is only finished when we are both completely satisfied.</p>
		</div>
	</div>
	<div class="col s12 m6 blue-grey lighten-5">
		<div class="section center">
			<h3 class="header center light">Develop</h3>
			<p class="light font-body">I build front-end sites using a combination of HTML5, JavaScript, and CSS3. Using popular front-end frameworks, I will create powerful and effective experiences for your users.  If necessary, I will collaborate with experienced back-end developers to implement more complicated functionality.</p>
		</div>
	</div>

</div>

<!--   Icon Section   -->
<div class="section focus-section">
	<div class="overlay"></div>
	<div class="container elevate">
		<div class="row">
			<!--In case I decide to bring the header back-->
			<!--<div class="col s12">
				<h3 class="header focus-header light white-text">Principles</h3>
			</div>-->
			<div id="icons">
				<div class="icon-col col m12 l4">
					<div class="icon-block">
						<div class="card-panel top-panel no-shadow teal accent-3">
							<h1 class="center white-text"><i class="mdi-hardware-tablet-mac promo-icon"></i></h1>
						</div>
						<div class="card-panel bottom-panel no-shadow white">
							<h5 class="center">Mobile First</h5>
							<p class="light">A great website should look great on every screen.  I understand the importance of mobile, so I build responsive websites that look fantastic on your smartphone, but scale to take advantage of your fancy monitor too. </p>
						</div>
					</div>
				</div>
				<div class="icon-col col m12 l4">
					<div class="icon-block">
						<div class="card-panel top-panel no-shadow teal accent-3">
							<h1 class="center white-text"><i class="mdi-social-people promo-icon"></i></h1>
						</div>
						<div class="card-panel bottom-panel no-shadow white">
							<h5 class="center">User-Centered</h5>
							<p class="light">Websites are powerful, but that doesn't mean they have to be complicated. A good site should be simple and intuitive.  As a UX Analyst, it's my job to assess the needs of users and create simple, yet powerful, experiences. </p>
						</div>
					</div>
				</div>
				<div class="icon-col col m12 l4">
					<div class="icon-block">
						<div class="card-panel top-panel no-shadow teal accent-3">
							<h1 class="center white-text"><i class="mdi-image-blur-on promo-icon"></i></h1>
						</div>
						<div class="card-panel bottom-panel no-shadow white">
							<h5 class="center">Truly Inspired</h5>
							<p class="light">If you aren't inspired, why bother? Anyone can build a carbon-copy website, but it takes an inspired mind to deliver great results. I strive to build experiences that are cohesive, thematic, and delightfully different from the rest.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="section blue-grey lighten-5">
	<div class="container">
		<div class="row">
			<div class="col s12">
				<h3 class="header center light ">Contact</h3>
			</div>
			<div class="col s12 m6">
				<div class="card-panel contact-card slide-animate no-shadow">
					<h6 class="header center light">PHONE</h6>
					<div class="divider"></div>
					<div class="center contact-info">
						<a class="light teal-text text-accent-4" href="tel:2566942177">256 694 2177</a>
					</div>
				</div>
			</div>
			<div class="col s12 m6">
				<div class="card-panel contact-card slide-animate no-shadow">
					<h6 class="header center light">EMAIL</h6>
					<div class="divider"></div>
					<div class="center contact-info">
						<a class="light teal-text text-accent-4" href="mailto:jth0024@gmail.com">jth0024@gmail.com</a>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col s6 right-align">
				<a class="blue-grey darken-3 no-shadow btn-floating btn-small">
					<i class="fa fa-github"></i>
				</a>
			</div>
			<div class="col s6 left-align">
				<a class="blue-grey darken-3 no-shadow btn-floating btn-small">
					<i class="fa fa-linkedin"></i>
				</a>
			</div>
			<div class="right">
				<a id="lead-button" data-j-scroller target="intro-splash" class="btn-floating btn-large blue-grey lighten-3">
					<i class="black-text mdi-navigation-expand-less"></i>
				</a>
			</div>
	</div>
</div>
